target/
dbt_packages/
logs/
.user.yml

db/
*.duckdb
*.duckdb.wal

data/source/*
!data/source/.gitkeep
data/raw/*
!data/raw/.gitkeep
data/stg/*
!data/stg/.gitkeep
data/mart_bi/*
!data/mart_bi/.gitkeep
data/mart_ml/*
!data/mart_ml/.gitkeep

.venv/
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/
